
#main-container {
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-left: 5px;
    width: 1124px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: red;*/
}

#map {
    border: 1px solid #cccccc;
    display: inline;
    float: left;
    width: 400px;
    height: 100%;
    /*background-color: #99ccff;*/
    /*background-color: #000000;*/
}

#graphs {
    display: inline;
    float: left;
    width: 720px;
    height: 100%;
    /*background-color: green;*/
}

.center-component {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#graph-nav {
    margin-top: 10px;
}

#chart-container, #chart-container1 , #chart-container2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 600px;
    height: 500px;
}
#chart-container1 {
    display: none;
}

#chart-container1 table {
    /*border: solid 1px #000000;*/
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#chart-container1 td {
    vertical-align:bottom;
}

#validvote {
    color: rgb(66, 139, 202);
}

#invalidvote {
    color: rgb(180, 180, 180);
}

#validimg, #invalidimg {
    height: 200px;
    /*margin-bottom: 0px ;*/
    vertical-align:bottom;
}

#color-label-bar {
    position: absolute;
}

.color-label-bar-node   {
    width: 30px;
    height: 10px;
    display: inline;
    float: left;
    padding-left: 5px;
}



.color-label {
    /*margin-left: 5px;*/
    margin-top: 5px;
    width: 30px;
    height: 20px;
    float: left;
    display: inline;
    border-left: solid 1px #ffffff;
}

.color-label-text {
    float: left;
    display: inline;
}

#vote-bar {
    height: 50px;
    width: 80%;
    /*background-color: red;*/
    margin: auto;
    margin-top: 50px;
}

#vote-bar div {
    text-align: center;
    vertical-align: middle;
    height: 80%;
    display: inline;
    float: left;
    color: #ffffff;
    padding-top: 10px;
    /*margin-top: 10%;*/
}

/*#chart-area {*/
    /*width: 400px;*/
    /*height: 400px;*/
/*}*/