
#main-container {
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-left: 5px;
    width: 1024px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: red;*/
}

#map {
    border: 1px solid #cccccc;
    display: inline;
    float: left;
    width: 40%;
    height: 100%;
    /*background-color: #000000;*/
}

#graphs {
    display: inline;
    float: left;
    width: 60%;
    height: 100%;
    /*background-color: green;*/
}